/*variables*/
$colorWhite: #ffffff;
$colorGeneral: #FFCFCF;

html,
body {
  margin: 0;
  font-family: Arial;
  color: $colorWhite;
}

p,
a {
  font-size: 0.75rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}

ul {
  list-style: none;
}

.container {
  min-height: 100%;
  display: flex;

  .nav {
    width: 15%;
    min-width: 140px;
    color: $colorGeneral;
    padding-top: 55px;
    padding-right: 30px;
    text-align: center;

    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }

    ul {
      list-style: none;
      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }

  .main {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $colorGeneral;
    //уберем избыточность из кода, применим padding-left: 30px ко всем первым дочерним свойствам которые находятся в div класса main
    > * {
      padding-left: 30px;
    }

    h1 {
      font-size: 62px;
      -webkit-margin-before: 0;
      padding-top: 40px;
      
    }

    p {
      width: 55%;
      min-width: 550px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      li {
        font-size: 0.85rem;
      }
    }
  }

}